html { 
    box-sizing: border-box; 
} 
*, *:before, *:after { 
    box-sizing: inherit; 
}
* {
    border: 1px solid black;
}



.top-row {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-around;*/
    background-color: #3B5998;
    color: white;
    text-align: center;
}

/*.row {
    display: flex;
    justify-content: space-around;
}

.mid-row {
    display: flex;
    align-items: center;
}

.search-area {

}

.columns {
    margin-bottom: 750px;
}

.col-1 {
    width: 25%;
    height: 750px;
    float: left;
}

.col-2 {
    width: 50%;
    height: 750px;
    float: left;
}
.col-3 {
    width: 25%;
    height: 750px;
    float: left;
}*/